In [7]:
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs
import re

In [8]:
url = "https://thefitcookie.com/healthy-nut-alternatives/"
url_path = requests.get(url)

In [9]:
soup = bs(url_path.content)

In [10]:
ul_list = soup.find_all("ul")
len(ul_list)

12

In [24]:
#firstH2 = soup.find('h2') # Start here
#uls = []
#for nextSibling in firstH2.findNextSiblings():
#  if nextSibling.name == 'h2':
#        breakre. sub()
#  if nextSibling.name == 'ul':
#        uls.append(nextSibling)
#        print (uls)
result=soup.find("div",class_="entry-content")

In [25]:
value=result.ul.text
print(value)

Sesame seeds (and Tahini)Sunflower seeds (and SunButter)Pumpkin and squash seeds (aka pepitas and pumpkin seed butter)Hemp seeds and hemp hearts (and hemp butter)Watermelon seeds (you can buy these roasted online)Chia seeds (fine consumed whole)Flax seeds (should be ground first to get the benefits)Pomegranate seeds (aka arils)Papaya seeds (I haven’t tried this one yet!)

In [26]:
list=re.split("[()]", value)
print(list)

['Sesame seeds ', 'and Tahini', 'Sunflower seeds ', 'and SunButter', 'Pumpkin and squash seeds ', 'aka pepitas and pumpkin seed butter', 'Hemp seeds and hemp hearts ', 'and hemp butter', 'Watermelon seeds ', 'you can buy these roasted online', 'Chia seeds ', 'fine consumed whole', 'Flax seeds ', 'should be ground first to get the benefits', 'Pomegranate seeds ', 'aka arils', 'Papaya seeds ', 'I haven’t tried this one yet!', '']

In [27]:
final_list=[list[i] for i in range(len(list)) if i % 2 == 0]
print(final_list)
final_list.pop(-1)

['Sesame seeds ', 'Sunflower seeds ', 'Pumpkin and squash seeds ', 'Hemp seeds and hemp hearts ', 'Watermelon seeds ', 'Chia seeds ', 'Flax seeds ', 'Pomegranate seeds ', 'Papaya seeds ', '']

''

In [29]:
#creating a dataframe of all subs
treenut_sub_df=pd.DataFrame(final_list)
#creating a column sunstitute
treenut_sub_df.rename(columns={0: "substitute"}, inplace=True)
#adding another column with name ingredient
ingredient = "treenut"
treenut_sub_df["ingredient"] = ingredient
#changing the order of the columns
treenut_sub_df=treenut_sub_df[["ingredient","substitute"]]

In [30]:
treenut_sub_df

  ingredient                   substitute
0    treenut                Sesame seeds
1    treenut             Sunflower seeds
2    treenut    Pumpkin and squash seeds
3    treenut  Hemp seeds and hemp hearts
4    treenut            Watermelon seeds
5    treenut                  Chia seeds
6    treenut                  Flax seeds
7    treenut           Pomegranate seeds
8    treenut                Papaya seeds