In [1]:
# Dependencies
from bs4 import BeautifulSoup
import requests
import pandas as pd
from time import sleep

In [2]:
url='https://www.outsideonline.com/2392887/milk-alternatives-substitutes-benefits-healthiest'
response=requests.get(url)

In [3]:
soup=BeautifulSoup(response.text,'html.parser')

In [5]:
results=soup.find_all(class_='article__body-wrap')

In [6]:

for result in results:
    resultset=result.find_all('strong')

In [7]:
#get the contents in the list
list=[]
for result  in resultset:
    list.append(result.contents[0])

In [8]:
#printing the list to inspect the items

print(list)

['Cow’s Milk', ' ', 'Lactose-Free Milk', 'Goat’s Milk', 'Rice Milk', 'Hemp Milk', 'Almond Milk', '\xa0', 'Soy Milk', '\xa0', '\xa0', 'Oat Milk', '\xa0', 'Coconut Milk', 'Cashew Milk', 'Pea Milk', 'The Bottom Line', '\xa0']

In [9]:
new_list = [x for x in list if x!='\xa0' if x!=' ']

In [10]:
new_list.pop(0)

'Cow’s Milk'

In [11]:
new_list.pop()

'The Bottom Line'

In [12]:
#printing the dataframe to have a flatten list
milk_sub_df=pd.DataFrame(new_list)
milk_sub_df.rename(columns={0:"substitute"}, inplace =True)
milk_sub_df["ingredient"]="milk"
milk_sub_df[["ingredient","substitute"]]
milk_sub_df

          substitute ingredient
0  Lactose-Free Milk       milk
1        Goat’s Milk       milk
2          Rice Milk       milk
3          Hemp Milk       milk
4        Almond Milk       milk
5           Soy Milk       milk
6           Oat Milk       milk
7       Coconut Milk       milk
8        Cashew Milk       milk
9           Pea Milk       milk

In [ ]:
milk_sub_df.to_csv("milk_sub.csv")