In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs

In [2]:
from allergy_links import egg_links
from functions import get_products, flatten_list

In [3]:
all_eggs = [get_products(i) for i in egg_links]
all_eggs

[['Mayo-ketchup - Goya',
  'Ham Croquettes - Goya',
  'Spinach empanadas - Goya',
  'Croquettes - Goya',
  'Ham Croquettes - Goya',
  'Authentic Style Rice Pilaf - Goya',
  'Chicken Croquettes - Goya',
  'Baked Beef Empanadas - Goya',
  'Baked empanadas - Goya',
  'Mayonnaise - Goya',
  'Goya, latin style bread crumbs',
  'Chicken Croquettes - Goya',
  'Mexican Style Stuffed Peppers Rellenos - Goya'],
 ['Mayo-ketchup - Goya'],
 ['Tequenos South American Cheese Sticks - Goya'],
 ['Mexican Style Stuffed Peppers Rellenos - Goya']]

In [4]:
all_eggs_list = flatten_list(all_eggs)
all_eggs_list

['Mayo-ketchup - Goya',
 'Ham Croquettes - Goya',
 'Spinach empanadas - Goya',
 'Croquettes - Goya',
 'Ham Croquettes - Goya',
 'Authentic Style Rice Pilaf - Goya',
 'Chicken Croquettes - Goya',
 'Baked Beef Empanadas - Goya',
 'Baked empanadas - Goya',
 'Mayonnaise - Goya',
 'Goya, latin style bread crumbs',
 'Chicken Croquettes - Goya',
 'Mexican Style Stuffed Peppers Rellenos - Goya',
 'Mayo-ketchup - Goya',
 'Tequenos South American Cheese Sticks - Goya',
 'Mexican Style Stuffed Peppers Rellenos - Goya']

In [10]:
egg_df = pd.DataFrame(all_eggs_list)
egg_df.rename(columns={0: "products"}, inplace=True)
ingredient = "egg"
egg_df["ingredient"] = ingredient
egg_df.head()

                   products ingredient
0       Mayo-ketchup - Goya        egg
1     Ham Croquettes - Goya        egg
2  Spinach empanadas - Goya        egg
3         Croquettes - Goya        egg
4     Ham Croquettes - Goya        egg

In [11]:
egg_df = egg_df[["ingredient", "products"]]
egg_df.head()

  ingredient                  products
0        egg       Mayo-ketchup - Goya
1        egg     Ham Croquettes - Goya
2        egg  Spinach empanadas - Goya
3        egg         Croquettes - Goya
4        egg     Ham Croquettes - Goya

In [12]:
final_egg_df = egg_df.drop_duplicates()

In [13]:
final_egg_df

   ingredient                                       products
0         egg                            Mayo-ketchup - Goya
1         egg                          Ham Croquettes - Goya
2         egg                       Spinach empanadas - Goya
3         egg                              Croquettes - Goya
5         egg              Authentic Style Rice Pilaf - Goya
6         egg                      Chicken Croquettes - Goya
7         egg                    Baked Beef Empanadas - Goya
8         egg                         Baked empanadas - Goya
9         egg                              Mayonnaise - Goya
10        egg                 Goya, latin style bread crumbs
12        egg  Mexican Style Stuffed Peppers Rellenos - Goya
14        egg   Tequenos South American Cheese Sticks - Goya

In [14]:
final_egg_df.to_csv("data/egg.csv")