In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs

In [2]:
from allergy_links import fish_links
from functions import get_products, flatten_list

In [3]:
all_fish = [get_products(i) for i in fish_links]
all_fish

[['Croquettes - Goya',
  'Coldfish - Goya',
  'Goya, premium sardines in spicy oil',
  'Premium Sardines In Olive Oil - Goya',
  'Select Spanish Olives Stuffed With Minced Anchovies - Goya',
  'Premium sardines with lemon in oil - Goya',
  'Sardines In Tomato Sauce - Goya',
  'Sardines in tomato sauce, tomato sauce - Goya',
  'Goya, sardines in vegetable oil',
  'Goya, codfish in biscayan sauce',
  'Stuffed olives, minced tuna - Goya',
  'Goya, bacalaitos codfish fritter mix',
  'Goya, tinapa, sardines in tomato sauce',
  'Goya, tinapa, sardines in hot tomato sauce, hot',
  'Goya, macarela'],
 ['Goya, premium sardines in spicy oil',
  'Premium Sardines In Olive Oil - Goya',
  'Select Spanish Olives Stuffed With Minced Anchovies - Goya',
  'Premium sardines with lemon in oil - Goya',
  'Sardines In Tomato Sauce - Goya',
  'Sardines in tomato sauce, tomato sauce - Goya',
  'Goya, sardines in vegetable oil',
  'Goya, tinapa, sardines in tomato sauce',
  'Goya, tinapa, sardines in hot tomato sauce, hot',
  'Goya, macarela'],
 ['Croquettes - Goya',
  'Coldfish - Goya',
  'Goya, codfish in biscayan sauce',
  'Goya, bacalaitos codfish fritter mix']]

In [4]:
all_fish_list = flatten_list(all_fish)
all_fish_list

['Croquettes - Goya',
 'Coldfish - Goya',
 'Goya, premium sardines in spicy oil',
 'Premium Sardines In Olive Oil - Goya',
 'Select Spanish Olives Stuffed With Minced Anchovies - Goya',
 'Premium sardines with lemon in oil - Goya',
 'Sardines In Tomato Sauce - Goya',
 'Sardines in tomato sauce, tomato sauce - Goya',
 'Goya, sardines in vegetable oil',
 'Goya, codfish in biscayan sauce',
 'Stuffed olives, minced tuna - Goya',
 'Goya, bacalaitos codfish fritter mix',
 'Goya, tinapa, sardines in tomato sauce',
 'Goya, tinapa, sardines in hot tomato sauce, hot',
 'Goya, macarela',
 'Goya, premium sardines in spicy oil',
 'Premium Sardines In Olive Oil - Goya',
 'Select Spanish Olives Stuffed With Minced Anchovies - Goya',
 'Premium sardines with lemon in oil - Goya',
 'Sardines In Tomato Sauce - Goya',
 'Sardines in tomato sauce, tomato sauce - Goya',
 'Goya, sardines in vegetable oil',
 'Goya, tinapa, sardines in tomato sauce',
 'Goya, tinapa, sardines in hot tomato sauce, hot',
 'Goya, macarela',
 'Croquettes - Goya',
 'Coldfish - Goya',
 'Goya, codfish in biscayan sauce',
 'Goya, bacalaitos codfish fritter mix']

In [5]:
fish_df = pd.DataFrame(all_fish_list)
fish_df.rename(columns={0: "products"}, inplace=True)
ingredient = "fish"
fish_df["ingredient"] = ingredient
fish_df.head()

                                            products ingredient
0                                  Croquettes - Goya       fish
1                                    Coldfish - Goya       fish
2                Goya, premium sardines in spicy oil       fish
3               Premium Sardines In Olive Oil - Goya       fish
4  Select Spanish Olives Stuffed With Minced Anch...       fish

In [8]:
fish_df = fish_df[["ingredient", "products"]]
fish_df.head()

  ingredient                                           products
0       fish                                  Croquettes - Goya
1       fish                                    Coldfish - Goya
2       fish                Goya, premium sardines in spicy oil
3       fish               Premium Sardines In Olive Oil - Goya
4       fish  Select Spanish Olives Stuffed With Minced Anch...

In [9]:
final_fish_df = fish_df.drop_duplicates()

In [10]:
final_fish_df

   ingredient                                           products
0        fish                                  Croquettes - Goya
1        fish                                    Coldfish - Goya
2        fish                Goya, premium sardines in spicy oil
3        fish               Premium Sardines In Olive Oil - Goya
4        fish  Select Spanish Olives Stuffed With Minced Anch...
5        fish          Premium sardines with lemon in oil - Goya
6        fish                    Sardines In Tomato Sauce - Goya
7        fish      Sardines in tomato sauce, tomato sauce - Goya
8        fish                    Goya, sardines in vegetable oil
9        fish                    Goya, codfish in biscayan sauce
10       fish                 Stuffed olives, minced tuna - Goya
11       fish               Goya, bacalaitos codfish fritter mix
12       fish             Goya, tinapa, sardines in tomato sauce
13       fish    Goya, tinapa, sardines in hot tomato sauce, hot
14       fish                                     Goya, macarela

In [11]:
final_fish_df.to_csv("data/fish.csv")