In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs

In [2]:
from allergy_links import peanut_links
from functions import get_products, flatten_list

In [3]:
all_peanuts = [get_products(i) for i in peanut_links]
all_peanuts

[['Mole - Goya']]

In [4]:
all_peanuts_list = flatten_list(all_peanuts)
all_peanuts_list

['Mole - Goya']

In [5]:
peanut_df = pd.DataFrame(all_peanuts_list)
peanut_df.rename(columns={0: "products"}, inplace=True)
ingredient = "peanut"
peanut_df["ingredient"] = ingredient
peanut_df.head()

      products ingredient
0  Mole - Goya     peanut

In [6]:
peanut_df = peanut_df[["ingredient", "products"]]
peanut_df.head()

  ingredient     products
0     peanut  Mole - Goya

In [8]:
peanut_df.to_csv("data/peanut.csv")