In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs

In [4]:
from allergy_links import treenut_links
from functions import get_products, flatten_list

In [6]:
all_treenut = [get_products(i) for i in treenut_links]
all_treenut

[['Mole - Goya']]

In [8]:
all_treenut_list = flatten_list(all_treenut)
all_treenut_list

['Mole - Goya']

In [10]:
treenut_df = pd.DataFrame(all_treenut_list)
treenut_df.rename(columns={0: "products"}, inplace=True)
ingredient = "treenut"
treenut_df["ingredient"] = ingredient
treenut_df.head()

      products ingredient
0  Mole - Goya    treenut

In [12]:
treenut_df = treenut_df[["ingredient", "products"]]
treenut_df.head()

  ingredient     products
0    treenut  Mole - Goya

In [14]:
final_treenut_df = treenut_df.drop_duplicates()

In [16]:
final_treenut_df

  ingredient     products
0    treenut  Mole - Goya

In [17]:
final_treenut_df.to_csv("data/treenut.csv")